<nav class="navbar">
  <a class="navbar-item" routerLink="/stats" routerLinkActive="navbar-item-active">
    <ion-icon class="navbar-icon" name="stats-chart"></ion-icon>
    <span class="navbar-label">Stats</span>
  </a>

  <a class="navbar-item" routerLink="/history" routerLinkActive="navbar-item-active">
    <ion-icon class="navbar-icon" name="list-outline"></ion-icon>
    <span class="navbar-label">Historique</span>
  </a>

  <a class="navbar-center" routerLink="/log" routerLinkActive="navbar-center-active">
    <ion-icon class="navbar-center-icon" name="add"></ion-icon>
  </a>

  <a class="navbar-item" routerLink="/habits" routerLinkActive="navbar-item-active">
    <ion-icon class="navbar-icon" name="apps-outline"></ion-icon>
    <span class="navbar-label">Habitudes</span>
  </a>

  <a class="navbar-item" routerLink="/settings" routerLinkActive="navbar-item-active">
    <ion-icon class="navbar-icon" name="settings-outline"></ion-icon>
    <span class="navbar-label">Réglages</span>
  </a>
</nav>
